/* Landing Long Form */
.landing-long-form{
  padding-right: 0px!important;
  padding-left: 0px!important;
} 
.landing-long-form .section-testimonials .kt-testimonial-meta-wrap {
  justify-content: flex-end;
}
.landing-long-form .section-about-esa p a {
  color: #6c46d6;
}
.landing-long-form .section-about-esa p a:hover {
  color: var(--global-palette3);
}
.landing-long-form .section-testimonials .kt-testimonial-content {
  text-align: left;
}

.landing-long-form .section-testimonials .kt-blocks-testimonial-carousel-item {
  height: 100%;
}

.landing-long-form .section-testimonials .kt-testimonial-item-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.landing-long-form .section-testimonials .kt-testimonial-meta-wrap {
  margin-top: auto;
  padding-top: 10px;
}

.landing-long-form .section-testimonials .kt-blocks-testimonial-carousel-item {
  height: auto;
}

.landing-long-form .section-testimonials .splide__arrow {
  height: 2rem !important;
  width: 2rem !important;
  border-radius: 50px !important;
  background: var(--global-palette4) !important;
  color: var(--global-palette1) !important;
}
.landing-long-form .section-testimonials .splide__arrow--next {
  right: -26px !important;
}

.landing-long-form .section-testimonials .splide__arrow--prev {
  left: -26px !important;
}
.landing-long-form .section-faq .kt-accordion-panel-inner p,
.landing-long-form .section-faq .kt-accordion-panel-inner li {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  font-family: Lato;
  text-transform: capitalize;
  color: #142c2a !important;
}

.landing-long-form .section-faq .kt-accordion-panel-inner p,
.landing-long-form .section-faq .kt-accordion-panel-inner ul {
  margin-bottom: 12px;
}

.landing-long-form .section-moneyback {
  position: relative;
}
.landing-long-form .section-moneyback
  .moneyback-image-wrapper {
  position: absolute;
  top: 32px;
  left: -202px;
}
.landing-long-form .section-video {
  width: 100%;
}
.landing-long-form .section-video .mejs-controls {
  display: none;
}
.landing-long-form .section-video .video-wrapper{
  width: 100%;
}
.landing-long-form .section-video .video-wrapper .wp-block-kadence-column{
  width: 100%;
}
.landing-long-form .section-video .video-wrapper .mejs-overlay-button {
  background: url("../images/play-button.png");
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
}
.landing-long-form .section-video
  .video-wrapper
  .mejs-overlay:hover
  > .mejs-overlay-button {
  background-position: unset !important;
}
@media screen and (max-width: 1280px) {
  .landing-long-form .section-moneyback
    .moneyback-image-wrapper {
    top: 96px;
    max-width: 346px;
    left: -9px;
  }
}
@media screen and (max-width: 1024px) {
  .landing-long-form .section-video .video-wrapper .mejs-overlay-button {
    height: 90px;
    width: 90px;
    background-size: contain;
  }
}
@media screen and (max-width: 767px) {
  .landing-long-form .section-testimonials .splide__arrow--prev {
    left: 6px !important;
  }
  .landing-long-form .section-moneyback
    .moneyback-image-wrapper {
    top: 128px;
    max-width: 170px;
    left: -11px;
  }
  .landing-long-form .section-video .video-wrapper .mejs-overlay-button {
    height: 60px;
    width: 60px;
  }
  .landing-long-form .section-banner > .kt-inside-inner-col {
    background-position: 64%;
  }
  .landing-long-form .section-testimonials .splide__arrow--next {
    right: 6px !important;
  }
  .landing-long-form .section-testimonials .splide__arrow {
    height: 20px !important;
    width: 20px !important;
  }
  .landing-long-form .section-testimonials .kt-testimonial-media-inner-wrap {
    width: 50px !important;
  }
  .landing-long-form .section-testimonials .kt-testimonial-name {
    font-size: 18px !important;
  }
  .landing-long-form .section-testimonials .kt-testimonial-content {
    font-size: 16px !important;
  }
  .landing-long-form .section-discover .image-wrapper {
    order: 1;
  }
  .landing-long-form .section-faq .kt-accordion-panel-inner p,
  .landing-long-form .section-faq .kt-accordion-panel-inner li {
    font-size: 14px;
    line-height: 20px;
  }
  .landing-long-form .section-video .wp-block-kadence-column{
    width: 100%;
}
}

/* Landing short form */
body.no-header.no-footer .entry-content-wrap {
  padding: 0px;
}

.landing-short-form .top-arrow-desktop {
  position: absolute !important;
  left: -22%;
  transform: translate(-2%, 38%);
}
.landing-short-form .hiw-box {
  z-index: 2;
  position: relative;
}
.landing-short-form .how-work-content .kt-blocks-info-box-text {
  text-align: left;
}
.landing-short-form .hiw-box .kt-blocks-info-box-text span {
  display: inline-block;
  padding-bottom: 12px;
  position: relative;
  padding-left: 20px;
}
.landing-short-form .hiw-box .kt-blocks-info-box-text span::before {
  position: absolute;
  content: "";
  background: #000;
  height: 6px;
  width: 6px;
  border-radius: 999px;
  top: 26%;
  left: 0px;
}
.landing-short-form .how-work-content>.kt-has-2-columns>.wp-block-kadence-column {
  z-index: unset;
}
.landing-short-form .bottom-arrow-desktop {
  position: absolute !important;
  left: -22%;
  transform: translate(-3%, 0%);
}

.landing-short-form .section-faq ul li {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

@media screen and (max-width: 1108px) {
  .landing-short-form .highlight-title {
     font-size: 36px !important;
   }
 }
 @media screen and (max-width: 951px) {
   .landing-short-form .highlight-title {
     font-size: 24px !important;
   }
   .landing-short-form .section-money-back .kt-inside-inner-col {
     padding-top: 26px !important;
   }
 }
 @media screen and (max-width: 767px) {
   .landing-short-form .highlight-box {
     max-width: 250px;
   }
   .landing-short-form .how-work-content p {
     font-size: 16px !important;
     line-height: 20px !important;
   }
   .landing-short-form .section-money-back .sm-mx-auto {
     margin: 0px auto !important;
   }
   .landing-short-form .money-back-icon {
     display: block;
     margin: 0px auto;
     margin-top: 14px !important;
   }
   .landing-short-form .money-back-icon figure {
     margin-right: 0px !important;
   }
   .landing-short-form .money-back-icon img {
     max-width: 100px;
   }
   .landing-short-form .highlight-box .kt-inside-inner-col {
     padding-left: 0px !important;
     align-items: flex-start !important;
   }
   .landing-short-form .section-money-back .kt-inside-inner-col {
     padding-top: 0px !important;
     padding-bottom: 0px !important;
     text-align: center;
   }
   .landing-short-form .section-money-back .banner-title {
     padding-bottom: 0px !important;
   }
   .landing-short-form .doctor-image img {
     width: 100%;
   }
   .landing-short-form .doctor-image figure {
     width: 100%;
   }
   .landing-short-form .work-second-child {
     margin-left: auto;
   }
   .landing-short-form .how-work-content {
     max-width: 355px;
     display: flex;
   }
   .landing-short-form .how-work-content .kt-row-column-wrap {
     width: 100%;
   }
   .landing-short-form .how-work-content > .wp-block-kadence-column {
     z-index: 2 !important;
   }
   .landing-short-form .banner-btn {
     justify-content: center !important;
   }
   .landing-short-form .section-how-it-works .kt-inside-inner-col {
     justify-content: center;
     align-items: center;
   }
   .landing-short-form .section-how-it-works .how-work-content {
     width: 100%;
   }
   .landing-short-form .section-how-it-works .kt-blocks-info-box-media {
     padding-bottom: 0px;
   }
   .landing-short-form .section-how-it-works .kadence-info-box-image-inner-intrisic-container {
     max-width: 50px !important;
     padding-bottom: 0px;
   }
   .landing-short-form .section-how-it-works .wp-block-kadence-infobox {
     max-width: 224px;
   }
   .landing-short-form .section-faq ul li {
     line-height: 20px !important;
     font-size: 15px !important;
   }
   .landing-short-form .section-faq ul {
     padding-left: 18px !important;
   }
   .landing-short-form .top-arrow-mobile {
     position: absolute !important;
     transform: translate(23%, -88%);
     left: 58%;
   }
   .landing-short-form .bottom-arrow-mobile {
       position: absolute !important;
       transform: translate(-50%, 42%);
       top: 84%;
       left: 25%;
   }

 }

 @media screen and (max-width: 576px) {
  .landing-short-form .section-money-back .kt-inside-inner-col {
    padding-left: 0px !important;
  }
} 